@font-face {
  font-family: "bungee";
  src: url(../fonts/Bungee-Regular.ttf);
}
@font-face {
  font-family: "inter_regular";
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "inter_light";
  src: url(../fonts/Inter-Light.ttf);
}
@font-face {
  font-family: "bayon";
  src: url(../fonts/Bayon-Regular.ttf);
}
@font-face {
  font-family: "inter_black";
  src: url(../fonts/Inter-Black.ttf);
}
@font-face {
  font-family: "inter_regular";
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "inter_light";
  src: url(../fonts/Inter-Light.ttf);
}
.body {
  box-sizing: border-box;
  padding-top: 7%;
}

.menu {
  width: 3.5vw;
  display: none;
}

.myName {
  display: flex;
}
.myName h1 {
  font-family: "bungee";
  margin-right: 10px;
  font-size: 3.25vw;
  color: #FFBBBF;
}
.myName h2 {
  font-family: "bungee";
  font-size: 3.25vw;
  color: transparent;
  -webkit-text-stroke: 1.2px #FFBBBF;
}

.navbarSection {
  padding-right: 8%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  padding-left: 8%;
}

.nav button {
  display: none;
}
.nav div {
  display: flex;
  align-items: center;
}
.nav div a {
  margin-left: 2.5vw;
  color: #FFBBBF;
  font-size: 2vw;
  font-family: "bayon";
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.nav div .resumeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 1em 0.4em 1.1em;
  background-color: #FFBBBF;
  color: #0D293E;
  border-radius: 0.5em;
  font-family: "bayon";
  font-size: 1.75vw;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.31);
  margin-left: 3vw;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr 5fr;
  grid-auto-rows: auto;
  padding-right: 8%;
  padding-left: 8%;
}
.main .des1 {
  grid-column: 1;
  grid-row: 1;
}
.main .des2 {
  grid-column: 1;
  grid-row: 2;
}
.main .title1 {
  grid-column: 3;
  grid-row: 1;
}
.main .title2 {
  grid-column: 3;
  grid-row: 2;
}
.main .descriptionWrapper {
  display: flex;
  align-items: center;
}
.main .descriptionWrapper p {
  color: white;
  font-family: "inter_light";
  line-height: 1.4;
  text-align: end;
  margin-bottom: 15px;
  font-size: 1.5vw;
}
.main .descriptionWrapper .tagrow1, .main .descriptionWrapper .tagrow2 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.main .descriptionWrapper .tag {
  display: flex;
  align-items: center;
  font-family: "inter_regular";
  color: #0D293E;
  background-color: #FFBBBF;
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 0.5em;
  text-align: center;
  border-radius: 0.7em;
  font-size: 1.1vw;
}

.lineSection {
  grid-column: 2;
  grid-row: span 2;
}
.lineSection .line {
  display: flex;
}
.lineSection .line .lineright {
  border-right: 0.5px solid white;
}
.lineSection .linewidth {
  width: 5vw;
}
.lineSection .line1 {
  height: 10vmax;
}
.lineSection .line2 {
  height: 25vmax;
}
.lineSection .line3 {
  height: 10vmax;
}
.lineSection .dotSection {
  width: 10vw;
  display: flex;
  justify-content: center;
}
.lineSection .dot {
  width: 1vw;
  height: 1vw;
  background-color: #FFBBBF;
  border-radius: 1em;
}

.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.mainfont {
  padding-left: 5px;
  font-family: "bungee";
  color: #0D293E;
  -webkit-text-stroke: 1px #FFBBBF;
  font-size: 9vw;
  margin-top: 6vh;
  margin-bottom: 5vmax;
  position: relative;
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3em);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3em);
  }
}
.mainfont .subfont {
  position: absolute;
  top: 5px;
  left: 1px;
  color: #FFBBBF;
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0.05em);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0.05em);
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color: #FFBBBF;
  width: 70px;
  height: 120px;
  bottom: 50px;
  right: -15px;
  border-radius: 10px;
  box-shadow: -1px 5px 7px 3px rgba(0, 0, 0, 0.33);
}
.social .snslink {
  width: 37px;
  margin-left: 9px;
  margin-bottom: 5px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .mainfont {
    -webkit-text-stroke: 1px #FFBBBF;
    font-size: 12vw;
    margin-bottom: 0.3em;
  }
  .myName h1 {
    font-size: 30px;
  }
  .myName h2 {
    font-size: 30px;
  }
  .main {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 0.8fr 0.5fr 1fr;
  }
  .main .des1 {
    grid-column: 2;
    grid-row: 2;
  }
  .main .des2 {
    grid-column: 2;
    grid-row: 4;
  }
  .main .title1 {
    grid-column: 2;
    grid-row: 1;
  }
  .main .title2 {
    grid-column: 2;
    grid-row: 3;
    margin-top: 3vh;
  }
  .main .descriptionWrapper {
    align-items: flex-start;
  }
  .main .descriptionWrapper .descriptionWrapper2 p {
    color: white;
    font-family: "inter_light";
    line-height: 1.4;
    text-align: start;
    margin-bottom: 15px;
    margin-left: 0.2em;
    font-size: 3vw;
  }
  .main .descriptionWrapper .descriptionWrapper2 .tagrow1, .main .descriptionWrapper .descriptionWrapper2 .tagrow2 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .main .descriptionWrapper .descriptionWrapper2 .tag {
    display: flex;
    align-items: center;
    font-family: "inter_regular";
    color: #0D293E;
    background-color: #FFBBBF;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 0;
    margin-right: 0.5rem;
    text-align: center;
    border-radius: 0.7em;
    font-size: 2.5vw;
  }
  .lineSection {
    grid-column: 1;
    grid-row: 1/5;
  }
  .lineSection .linewidth {
    width: 4vw;
  }
  .lineSection .line1 {
    margin-top: 2em;
    height: 7vmax;
  }
  .lineSection .line2 {
    height: 60vmin;
  }
  .lineSection .line3 {
    height: 28vmin;
  }
  .lineSection .dotSection {
    width: 8vw;
    display: flex;
    justify-content: center;
  }
  .lineSection .dot {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #FFBBBF;
    border-radius: 1em;
  }
  .menu {
    display: block;
    width: 5.5vw;
  }
  .nav {
    display: none;
    position: absolute;
    top: 5%;
    right: 7%;
    width: 200px;
    height: 280px;
    z-index: 1;
    background-color: #FFBBBF;
    border-radius: 10px;
  }
  .nav div {
    margin-top: 8vh;
  }
  .nav.active {
    display: flex;
    box-shadow: -1px 5px 7px 3px rgba(0, 0, 0, 0.33);
  }
  .nav.active button {
    display: block;
    position: absolute;
    right: 3vh;
    top: 3vh;
  }
  .nav.active button img {
    display: flex;
    width: 3.5vw;
    height: 3.5vw;
  }
  .nav.active div {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    margin-left: 1vw;
  }
  .nav.active div a {
    margin-left: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    color: #0D293E;
    font-size: 25px;
    line-height: 5vh;
    padding-right: 20%;
    padding-left: 20%;
  }
  .nav.active div .resumeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1em 0.4em 1.1em;
    background-color: #0D293E;
    color: #FFBBBF;
    border-radius: 0.5em;
    font-family: "bayon";
    font-size: 20px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.31);
    margin-left: 4vw;
    margin-top: 1.5vh;
    line-height: 2vh;
  }
}/*# sourceMappingURL=app.css.map */