@font-face {
    font-family: "bungee";
    src: url(../fonts/Bungee-Regular.ttf);
}
@font-face {
    font-family: "inter_regular";
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "inter_light";
    src: url(../fonts/Inter-Light.ttf);
}
@font-face {
    font-family: "bayon";
    src: url(../fonts/Bayon-Regular.ttf);
}
@import "_variables.scss";
@import "_mixins.scss";

.project{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5vh;
    .projectLine{
        width: 70px;
        height: 2px;
    }
    .projectLine2{
        transform: rotateY(180deg);
    }
    .number2{
        font-size: 2.5vw;
        font-family: "bungee";
        color: transparent;
        -webkit-text-stroke: 1px $pink;
        margin:  0 20px 0 20px;
    }
}
.subtitle{
    font-family: "bungee";
    color: $pink;
    font-size: 7vw;
    margin-bottom: 3vh;
}
.buttons{
    display: flex;
    button{
        border: 1px solid $pink;
        color: $pink;
        font-family: "inter_light";
        padding: 1.5%;
        font-size: 1.5vw;
        width: 25vw;
        margin: 0 5% 5% 5%;
    }
    .projectMode{
        background-color: $pink;
        color: $blue;
        font-family: "inter_regular";
    }
    button:hover{
        cursor: pointer;
        font-family: "inter_regular";
        background-color: $pink;
        color: $blue;
    }
    

}

.projectSection{
    display: grid;
    width: 100%;
    margin-bottom: 30vh;
    grid-template-columns: 1fr 1fr;


    
    .photoGallary{
        display: flex;
        justify-content: center;
        margin: 8%;
        width: 45vw;
        height: 45vw;
        display: flex;
        grid-row: 1;
        grid-column: 1;
    }
    .projectDes{

        grid-row: 1;
        grid-column: 2;
    }
}


.projectButtons{
    display: flex;
    width: $portfoliowidth;
    justify-content: space-between;
    button{
        height: 30px;
        display: flex;
        align-items: center;
        .vdpjno{
            width: calc($portfoliowidth / 4 - 1vw);
        }
        .cdpjno{
            width: calc($portfoliowidth / 3 - 1vw);
        }
    }
    
    .projectButton{
        width: 100%;
        height: 10px;
        border: 1px solid $pink;
    }
    button:hover{
        cursor: pointer;
        .projectButton{
            background-color: $pink;
        }
    }
    .projectClicked{
        background-color: $pink;

    }
}


.gallary {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .gallary-container {
      position: relative;
      width: 40vw;
      height: 40vw;
      margin-bottom: 5%;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 5px solid $pink;
      }
      
      .gallaryFilter {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
        z-index: 3;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        transition: opacity 0.3s ease-in-out;
        
        div {
          font-size: 5vw;
          font-weight: 900;
          margin: 3%;
          color: $pink;
          z-index: 4;
          background-color: $blue;
          border-radius: 50%;
          width: 7vw;
          height: 7vw;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
          -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);

        }
        
        div:hover {
          cursor: pointer;
        }
      }
      
      &:hover .gallaryFilter {
        opacity: 1;
      }
    }
  }
  


.gallaryButtons{
    display: flex;
    button{
        width: 15px;
        height: 15px;
        margin: 3px;
        border-radius: 50%;
        border: 1px solid $pink;
    }
    button:hover{
        background-color: $pink;
    }
    .gallaryButtonClicked{
        background-color: $pink;
    }
}

.projectDes{
    display: flex;
    margin: 8%;
    flex-direction: column;
    justify-content: center;
    .projectName{
        font-family: "bungee";
        font-size: 5vw;
        color: $pink;
        margin-bottom: 2vh;
    }
    .projectPrograms{
        display: flex;
        margin-bottom: 1vw;
        .projectProgram{
            display: flex;
            align-items: center;
            width: 50%;
            height: 11vw;
            .projectUsedCircle{
                width: 10vw;
                height:10vw;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;  
                background-color: $pink; 
                margin: 2vw 2vw 2vw 0;
                .projectUsedImg{
                    display: flex;
                    width: 7vw;
                }
            }
            .projectUsed{
                font-family: "inter_regular";
                color: $pink;
                font-size: 1.5vw;
                line-height: 1.5;
            }
            
        }
    }
    .projectStat{
        display: flex;
        align-items: center;
        margin-bottom: 2.5vh;
        .projectCircle{
            width: 8vw;
            height: 8vw;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;   
            border: 1px solid $pink;   
            font-family: "inter_regular"; 
            margin-right: 20px;
            font-size: 2vw;
        }
        .pink{
            background-color: $pink;
            color: $blue;
        }
        .blue{
            color: $pink;
        }
        .projectCircleDes{
            color: $pink;
            font-size: 1.5vw;
            font-family: "inter_light";
            margin-right: 20px;
            line-height: 1.2;
            
        }
        
    }
    .projectTags{
        display: flex;
    }
    .tagMargin{
        margin-top: 3vh;
    }
    .projectTag{
        display: flex;
        align-items: center;
        font-family: "inter_regular";
        color: $blue;
        background-color: $pink;
        padding: 0.5em 1em 0.5em 1em;
        text-align: center;
        border-radius: 0.7em;
        font-size: 1.5vw;
        margin-right: 1vw;
        

    }
    
    
}
.projectRoleWrap{
    display: flex;
    margin-bottom: 1.5vh;
    .projectRoles{
        margin-right: 5%;
        width: 50%;
        .projectRole{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            img{
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }
            div{
                color: $pink;
                font-family: "inter_light";
                font-size: 1.5vw;
                line-height: 1.5;
            }
        }
    }
    
   
}


@media (max-width: 767px) {
    .project{
        margin-top: 15%;
    }
    .projectNumber{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.5vh;
        .projectLine{
            width: 80px;
            height: 2.5px;
        }
        .projectLine2{
            transform: rotateY(180deg);
        }
        .number2{
            font-size: 4vw;
            font-family: "bungee";
            color: transparent;
            -webkit-text-stroke: 1px $pink;
            margin:  0 20px 0 20px;
        }
    }
    .subtitle{
        font-size: 9vw;
        margin-bottom: 3.5vh;
    }
    .buttons{
        display: flex;
        button{
            border: 1px solid $pink;
            color: $pink;
            font-family: "inter_regular";
            padding: 1.6%;
            font-size: 2.1vw;
            width: 31vw;
            margin: 0 3% 7% 3%;
        }
        .projectMode{
            background-color: $pink;
            color: $blue;
            font-family: "inter_regular";
        }
        button:hover{
            cursor: pointer;
            font-family: "inter_regular";
            background-color: $pink;
            color: $blue;
        }
        
    
    }
    .projectButtons{
        display: flex;
        width: $portfoliowidth2;
        justify-content: space-between;
        button{
            height: 30px;
            display: flex;
            align-items: center;
            .vdpjno{
                width: calc($portfoliowidth2 / 4 - 1vw);
            }
            .cdpjno{
                width: calc($portfoliowidth2 / 3 - 1vw);
            }
        }
        
        .projectButton{
            width: 100%;
            height: 10px;
            border: 1px solid $pink;
        }
        button:hover{
            cursor: pointer;
            .projectButton{
                background-color: $pink;
            }
        }
        .projectClicked{
            background-color: $pink;
    
        }
    }
    .projectDes{
        display: flex;
        margin: 0 8% 0 8%;
        flex-direction: column;
        justify-content: center;
        .projectName{
            font-family: "bungee";
            font-size: 7vw;
            color: $pink;
            margin-bottom: 2vh;
        }
        .projectPrograms{
            display: flex;
            margin-bottom: 1vw;
            .projectProgram{
                display: flex;
                align-items: center;
                width: 50%;
                height: 11vw;
                .projectUsedCircle{
                    width: 10vw;
                    height: 10vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;  
                    background-color: $pink; 
                    margin: 2vw 2vw 2vw 0;
                    .projectUsedImg{
                        display: flex;
                        width: 7vw;
                    }
                }
                .projectUsed{
                    font-family: "inter_regular";
                    color: $pink;
                    font-size: 2.5vw;
                    line-height: 1.5;
                }
                
            }
        }
        .projectStat{
            display: flex;
            align-items: center;
            margin-bottom: 3vh;
            .projectCircle{
                width: 12vw;
                height: 12vw;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;   
                border: 1px solid $pink;   
                font-family: "inter_regular"; 
                margin-right: 20px;
                font-size: 3vw;
            }
            .pink{
                background-color: $pink;
                color: $blue;
            }
            .blue{
                color: $pink;
            }
            .projectCircleDes{
                color: $pink;
                font-size: 2.5vw;
                font-family: "inter_light";
                margin-right: 5vw;
                line-height: 1.2;
            }
            
        }
        .projectTag{
            display: flex;
            align-items: center;
            font-family: "inter_regular";
            color: $blue;
            background-color: $pink;
            padding: 0.5em 1em 0.5em 1em;
            text-align: center;
            border-radius: 0.7em;
            font-size: 2.5vw;
    
        }
    }
    .projectSection{
        display: grid;
        width: 100%;
        margin-bottom: 30vh;
        grid-template-columns: 1fr;     
        .photoGallary{
            display: flex;
            align-items: center;
            grid-row: 1;
            grid-column: 1;
            width: 100%;
            margin: 0 0 0 0;
            height: 80vw;
        }
        .projectDes{
    
            grid-row: 2;
            grid-column: 1;
        }
    }
    .gallary {
        display: flex;
        flex-direction: column;
        align-items: center;
        .gallary-container {
          position: relative;
          width: 60vw;
          height: 60vw;
          margin-bottom: 5%;
          
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 5px solid $pink;
          }
          
          .gallaryFilter {
            width: 85vw;
            height: 100%;
            top: 0;
            left: -13vw;
            position: absolute;
            opacity: 1;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: opacity 0.3s ease-in-out;
            
            div {
              font-size: 5vw;
              font-weight: 900;
              margin: 3%;
              color: $blue;
              z-index: 4;
              background-color: $pink;
              border-radius: 50%;
              width: 7vw;
              height: 7vw;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0px 10px 16px 0px transparent;
              -webkit-box-shadow: 0px 10px 16px 0px transparent;
              -moz-box-shadow: 0px 10px 16px 0px transparent;
    
            }
            
            div:hover {
              cursor: pointer;
            }
          }
          
          &:hover .gallaryFilter {
            opacity: 1;
          }
        }
    }
    .projectRoleWrap{
        display: flex;
        .projectRoles{
            margin-right: 5%;
            width: 50%;
            .projectRole{
                display: flex;
                margin-bottom: 15px;
                img{
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                }
                div{
                    color: $pink;
                    font-family: "inter_light";
                    font-size: 2.5vw;
                    line-height: 1.5;
                }
            }
        }
        
       
    }
}

